* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #333;
  color: whitesmoke;
}

body {
  height: 125vh;
  background-size: cover;
  font-family: sans-serif;
  margin-right: 10%;
  margin-left: 10%;
}

input,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

section>.login-container, .login-form {
  margin-top: 1em;
  width: 100%;
}

article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}


.postCredit {
  font-size: 1rem;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feed-page {
  display: flex;
  flex-direction: column;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  min-width: 310px;
}

.login-form {
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

.circ-prog {
  align-self: center;

}

.login-form h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
}

.login-form label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"], textarea {
  width: 100%;
  padding: 12px 20px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button[type="submit"]:hover {
  background-color: #444;
}

.navbar {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-elements {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

textarea {
  resize: none;

}

.nav-elements li {
  margin-right: 1rem;
}

.nav-elements a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-elements a:hover {
  background-color: #535151;
}

.nav-toggle {
  display: none;
}

@media (max-width: 991px) {
  .nav-elements {
    display: none;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .nav-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
    transition: all 0.3s ease;
  }

  .nav-toggle.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  h5{
    align-self: flex-end;
  }
  .nav-elements.active {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #222;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .nav-elements.active li {
    margin: 0.5rem 0;
  }

  .nav-elements.active a {
    padding: 0.5rem;
  }
}